body {
  .home-blog {
    padding: 0;
    .hero{
      margin: 0 auto;
      position: relative;
      box-sizing: border-box;
      padding: 0 20px;
      height: 100vh !important;
      display: flex;
      align-items: center;
      justify-content: center;
      .mask {
        width: 0;
        height: 0;
      }
    }
  }
  
  .page .side-bar li a.sidebar-link {
    background: none;  
    font-size: 1.2em;
  }
  .index-page-class .navbar {
    position: absolute;
    color: #fff;
    box-shadow: none;
    .links .search-box input {
      border: 1px solid #fff;  
    }
  }
  .index-page-class .navbar .site-name {
    background: none;
  }
  .index-page-class .links .color-picker .color-button .iconfont {
    color: #fff;
  }
  .index-page-class .navbar :not(.dropdown-item) {
    --text-color-sub: #fff;
  }
  .index-page-class .nav-links .nav-item {
    a{
      color: #fff;
    }
    .nav-dropdown {
      background-color: #fff;  
    }
  }
  .index-page-class .nav-links .nav-item a.nav-link{
    color: #000;
  }
  .index-page-class .nav-links .nav-item a.nav-link:hover{
    font-weight: bold;
  }
  .index-page-class .nav-links a.router-link-active .iconfont, .index-page-class .nav-links a:hover .iconfont, .index-page-class .navbar .search-box input, .index-page-class .navbar .site-name {
    color: #fff;
  }
  .index-page-class .navbar, .index-page-class .navbar .links {
    background: hsla(0,0%,100%,0);
  }
}